table{
	border: 1px solid red; 
	width: 600px; 
	height: 600px; 
	font-size: 90pt; 
	font-family: sans-serif;
	background-image: url("dog.jpg");

}

td {
	border: 1px solid black;
	width: 200px;
	height: 200px;
	margin: none;
}

img{
	max-width: 100px;
}